<div class="text-center">
  <hr>
  <h1>Search Campaign Finances</h1>
  <hr>

  <%= form_tag('/campaign_finances/search', method: 'get') do %>
    <div class="text-left" style="display: inline-block; text-align: left; margin-bottom: 10px;">
      <label for="cycle">Select Cycle:</label>
      <%= select_tag 'cycle', options_for_select(@cycle_options), prompt: 'Select Cycle' %>
      <br>
      <label for="category" style="margin-top: 10px;">Select Category:</label>
      <%= select_tag 'category', options_for_select(@category_options), prompt: 'Select Category' %>
    </div>
    <br>
    <div>
      <%= submit_tag 'Search' %>
    </div>
  <% end %>
</div>
